<!-- statistics.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
</head>
<body>
    <h1>Statistics for "{{ query }}"</h1>

    {% if total_occurrences is not none %}
        <p>The word "{{ query }}" appears {{ total_occurrences }} time(s) in the database.</p>
    {% else %}
        <p>No query provided or no occurrences found. Please go back and enter a search term.</p>
    {% endif %}

    <!-- Wstawiamy wykres, jeżeli chart_url jest dostępne -->
    {% if chart_url %}
        <h2>Occurrences Over Episodes</h2>
        <img src="data:image/png;base64,{{ chart_url }}" alt="Line chart" />
    {% endif %}

        <!-- WYKRES SŁUPKOWY (Bar Chart) -->
    {% if bar_chart_url %}
        <h2>Occurrences By Season (Bar Chart)</h2>
        <img src="data:image/png;base64,{{ bar_chart_url }}" alt="Bar chart">
    {% endif %}

    {% if sentiment_pie_url %}
    <h2>Sentiment Pie Chart</h2>
    <img src="data:image/png;base64,{{ sentiment_pie_url }}" alt="Pie chart">
    {% endif %}

    {% if wordcloud_url %}
  <h2>Word Cloud (All Transcripts)</h2>
  <img src="data:image/png;base64,{{ wordcloud_url }}" alt="Word Cloud">
    {% endif %}

    <br>
    <a href="/">Go Back</a>
</body>
</html>
